@import '../../Style/common.scss';

.basket {
  @include flex(_, center, column);
  margin: 200px auto;
  width: 90%;
  min-width: 830px;
  max-width: 900px;
  color: #535659;
  font-size: 13px;

  .title {
    @include flex(center, center, column);

    h1 {
      color: $green;
      font-size: 40px;
      font-weight: 900;
    }

    span {
      font-size: 12px;
    }
  }

  .cart {
    margin-top: 60px;
    width: 100%;

    .cart-header {
      @include flex();
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #dfdfdf;

      div {
        @include flex(center, center);
      }

      .checkbox {
        @include flex(flex-start);
        width: 20px;

        input {
          width: 15px;
          margin: 0;
          margin-left: 3px;
        }
      }

      :nth-child(2) {
        justify-content: flex-start;
        margin-left: 10px;
        width: 200px;
      }

      :nth-child(3) {
        width: 70px;
      }

      :nth-child(4) {
        width: 70px;
      }

      :nth-child(5) {
        width: 120px;
      }

      :nth-child(6) {
        width: 120px;
      }

      :nth-child(7) {
        width: 120px;
      }
    }

    .cart-result {
      padding-right: 100px;
      margin-top: 50px;

      .cart-result-preview {
        @include flex(_, flex-end, column);

        div {
          @include flex();
          margin-bottom: 7px;

          div {
            @include flex(flex-end);
            width: 120px;
          }

          :nth-child(2) {
            color: black;
            font-weight: 500;
          }
        }
      }

      .cart-result-final {
        @include flex(space-between);
        height: 30px;
        margin-top: 20px;

        div {
          @include flex();
          height: 100%;

          button {
            height: 100%;
            margin-right: 10px;
            background: none;
            border: 1px solid #dfdfdf;
            border-radius: 30px;
            font-size: 11.5px;
            color: #535659;
            transition: 0.3s;

            &:hover {
              background-color: $green;
              color: white;
            }
          }

          div {
            @include flex(flex-end, center);
            width: 120px;
          }

          :nth-child(2) {
            span {
              color: $green;
              font-size: 16px;
              font-weight: 900;
            }
          }
        }
      }
    }

    .cart-result-button {
      @include flex(center, center);
      height: 30px;
      margin-top: 20px;

      a {
        width: 100px;
        height: 100%;
        text-decoration: none;
        background: none;

        button {
          width: 100%;
          height: 100%;
          background: none;
          font-size: 11px;
          font-weight: 400;
          transition: 0.2s;
        }
      }

      .continue {
        border: 1px solid #dfdfdf;
        color: #535659;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
          color: white;
        }
      }

      .order {
        background: $green;
        color: white;

        &:hover {
          background-color: #72ff00;
        }
      }
    }
  }
}
