@import '../../../Style/common.scss';

.loading-list {
  @include flex(center, center);
  position: relative;
  width: 95%;
  max-width: 1000px;
  min-height: 700px;
  border: 1px solid #dfdfdf;

  span {
    color: #595959;
    font-size: 16px;
  }
}
