@import '../../../Style/common.scss';

.goods {
  @include flex(center, flex-start);
  width: 100%;

  .goods-img {
    width: 50%;
    max-width: 600px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  .goods-form {
    width: 50%;
    max-width: 600px;
  }
}

.categories {
  width: 100%;
  margin-top: 50px;

  .categories-title {
    @include flex(space-between, center);
    width: 100%;
    text-align: center;

    .categorie-list {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid lightgray;

      &.seleted {
        border-bottom: 1px solid $green;
      }
    }

    a,
    button {
      display: inline-block;
      width: 100%;
      color: #3d464b;
      background-color: white;
      cursor: pointer;
    }
  }
}
