@import '../../../Style/common.scss';

.goods {
  @include flex(center, flex-start);
  width: 100%;

  .goods-img {
    width: 50%;
    max-width: 600px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  .goods-form {
    width: 50%;
    max-width: 600px;
  }
}

.categories {
  position: static;
  width: 100%;

  .title-fixed {
    @include flex(center, center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
    z-index: 3;
  }

  .categories-title {
    @include flex(space-between, center);
    width: 100%;
    text-align: center;

    .categorie-list {
      margin-top: 30px;
      width: 100%;
      height: 30px;
      border-bottom: 1.5px solid lightgray;
      background-color: white;

      &.seleted {
        border-bottom: 1.5px solid $green;
      }
    }

    a,
    button {
      display: inline-block;
      width: 100%;
      color: #3d464b;
      background-color: white;
      cursor: pointer;
    }
  }
}
