$green: #479f78;
$yellow: #fae100;

@mixin flex($justify: flex-start, $align: flex-start, $flexDirection: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flexDirection;
}
