@import '../../Style/common.scss';

.Detail {
  @include flex(center, center);

  .DetailWrapper {
    @include flex(center, center, column);
    padding: 5px;
  }

  *::selection {
    color: white;
    background-color: $green;
  }
}
