@import '../../Style/common.scss';

.nav {
  @include flex(center, center);
  position: relative;
  z-index: 10;

  .nav-container {
    position: absolute;
    @include flex(center, center, column);
    width: 100%;
    top: 0;
    background-color: white;

    h1 > a {
      color: $green;
    }

    a {
      color: #888888;
    }

    &.color-white {
      background-color: transparent !important;

      a {
        color: white;
      }
    }

    .nav-head {
      @include flex(space-between, center, row);
      margin: 30px;
      text-align: center;

      div {
        width: 300px;

        h1 > a {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }

    .nav-main {
      @include flex(center, center, row);
      border-bottom: 1px solid white;
      width: 85%;

      div {
        margin-bottom: 20px;
      }

      li {
        display: inline-block;

        a {
          margin: 0 50px;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
