@import '../../../Style/common.scss';

.category {
  @include flex(space-around, center);
  width: 500px;
  position: relative;
  height: 40px;
  margin: 60px auto;
  border: 1px solid #dfdfdf;

  div {
    @include flex(center, center);
    // width: 150px;
  }

  .all {
    width: 150px;
  }

  .liquor-container {
    @include flex(center, center);
    width: 150px;

    .liquor {
      @include flex(_, center);
    }

    .category-liquor {
      @include flex(space-around, center);
      position: absolute;
      bottom: -40px;
      left: -1px;
      width: 100%;
      height: 40px;
      margin-left: 1px;
      border: 1px solid #dfdfdf;
      border-top: none;
    }
  }

  .food {
    width: 150px;
  }

  .merchandise {
    width: 150px;
  }
}
